@import '../../constants.css';

.newGameBtn {
    margin-top: 30px;
    font-family: var(--primary-font);
    font-size: var(--font-sm);
    color: var(--light-color);
    border-radius: 10px;
    padding: 0 48px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    background-color: var(--primary-color);

    transition: all 0.5s ease, background-color 0s;
}

.newGameBtn:hover {
    cursor: pointer;
    transform: translateY(-6px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 6px 0px;
}

.newGameBtn:active {
    background-color: var(--primary-darker-color);
}