@import './constants.css';

.game-screen {
    background-color: var(--background-color);

    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry-screen {
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: var(--font-lg);
    font-family: var(--secondary-font);
}

.hidden {
    display: none;
}

.scale-out {
    animation: 0.4s scaleOut ease-in-out forwards;
}

@keyframes scaleOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}