@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Concert+One&display=swap');

:root {
    /* Typography */
    --font-xs: 16px;
    --font-sm: 24px;
    --font-md: 36px;
    --font-lg: 64px;
    --font-xl: 96px;

    --primary-font: 'Bungee', cursive;
    --secondary-font: 'Concert One', cursive;

    /* Colors */
    --primary-color: #00B8A9;
    --primary-darker-color: #2F8B90;
    --secondary-color: #F6416C;
    --light-color: #FFFFFF;
    --gray-color: #4e4e4e;
    --dark-color: #000000;
    --background-color: #F8F3D4;

}

* {
    box-sizing: border-box;
}